{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La boutique Française{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    - <a href="{{ path('app_account') }}"> retourner à mon compte</a>
    <hr>
    {% if notification_error %}
        <div class="alert alert-danger"> {{ notification_error }}</div>
        {% elseif notification_success %}
        <div class="alert alert-success">{{ notification_success }}</div>
    {% endif %}

    {{ form(form) }}
    <hr>
{% endblock %}
